@{
    ViewBag.Title = "Statistik";
}

<h2>Statistik for valgt dato: @ViewBag.ValgtDato</h2>


<p><strong>Sag:</strong> @ViewBag.SagNavn</p>

<p><strong>Timer ugen:</strong> @ViewBag.TimerUge</p>
<p><strong>Timer i måneden:</strong> @ViewBag.TimerMåned</p>
<p><strong>Samlede timer på denne sag:</strong> @ViewBag.TimerTotal</p>

<p>
    <a href="#" onclick="window.close();" class="btn btn-secondary">Luk vindue</a>
</p>
